<a href="/">Wróć do strony głównej</a>
<h1>Lista quizów</h1>
{% if quizes %}
{% for quiz in quizes %}

<div>
    <a href="/quiz/details/{{quiz.id}}">
        <h2>{{quiz.name}}</h2>
        <p>{{quiz.description}}</p>
        <a href="/quiz/delete/{{quiz.id}}">Usuń quiz</a>
        <a href="/quiz/update/{{quiz.id}}">Edytuj quiz</a>
    </a>
</div>

{% endfor %}
{% endif %}