<h1>Lista quizów</h1>
{% if quizes %}
{% for quiz in quizes %}

<div>
    <a href="/details/quiz/{{quiz.id}}">
        <h2>{{quiz.name}}</h2>
        <p>{{quiz.description}}</p>
        <a href="/delete/quiz/{{quiz.id}}">Usuń quiz</a>
        <a href="/update/quiz/{{quiz.id}}">Edytuj quiz</a>
    </a>
</div>

{% endfor %}
{% endif %}